<!Doctype html>
<html>
    <head>
        <title>ShowPlus</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
        <!--<link rel="stylesheet" type="text/css" href="/app.css">-->
    </head>
    <body>
        
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ShowPlus</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">For Visitors</a>
                          <a class="dropdown-item" href="#">For Exhibitors</a>
                          <a class="dropdown-item" href="#">For Organizers</a>
                        </div>
                      </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                     </li>
                </ul>
         
                <ul class="nav navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mr-sm-2">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <% if(!currentUser){ %> 
                        <li class="my-1 mr-sm-2"><a href="/login">Login</a></li>
                        <li class="my-1"><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li class="my-1 mr-sm-2"><a href="#"> Signed In As: <%= currentUser.username %> </a></li>
                        <li class="my-1"><a href="/logout">Logout</a></li>
                    <% } %>  
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert"> 
                <%= error %> 
            </div>  
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert"> 
                <%= success %> 
            </div>
        <% } %>
    </div>
   
        