<% include ../partials/header %>

<div class="container">
    <h1>Add New Comment to <%= exhibition.name %> </h1>
    <div class="row">
       <div id="showForm">
            <form action= "/exhibitions/<%=exhibition._id %>/comments" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block">Submit!</button>  
                </div>
                
                
            </form>
            <!--<br>-->
            <a href="/exhibitions">Go Back</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>