<% include ./partials/header %>

<div class="container accessForm rounded-bottom">
    <h1 class="formTitle rounded-top">Sign Up!</h1>
    <form action="/register" method="POST">
        <div>
          <input class="rounded" type="text" name="username" placeholder="username">  
        </div>
        <div>
            <input class="rounded" type="password" name="password" placeholder="password">
        </div>
        <div>
            <input class="rounded submitBtn" type="submit" value="Sign Up">
            <a class="altLog" href="/login">Already Registered?</a>
            
        </div>
    </form>
</div>




<% include ./partials/footer %>