:root {
    --main-bg-grey: rgba(110,110,110,.3);
    --main-blue: rgba(10,60,230,.9);
    --main-blue-hover: rgba(10,50,150,.9);
}

.ctrTitle {
   text-align: center; 
}

.jumbotron {
    padding-top: 12%;
}
.card-footer {
    margin-top: 20px;
    border-top: 0px;
}

.card-body {
   padding: 1rem; 
}

.card-footer {
   padding: 1rem;  
}

.delete-form-btn {
    display: inline;
}


/*.exhibition-imgs {*/
/*    border: 2px solid red;*/
/*    object-fit: cover;*/
/*    height: 200px;*/
/*    width: 100%;*/
/*}*/

.card-img-top {
    height: 250px;
    width: 100%;
}

#showForm {
    width: 40%;
    margin: 0 auto;
}

form {
    margin-top: 40px;
}

.bg-light {
    background-color: var(--main-bg-grey)!important;
    /*#f8f9fa*/
    
}
.dropdown-menu.show{
    background-color: rgba(110,110,110,1);
    padding: 0;
}
.dropdown-item{
    color: var(--main-blue);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--main-blue);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-blue-hover);
}

.ml-auto li a {
    color: var(--main-blue);
}

.btn-outline-primary {
    color: var(--main-blue);
    border-color: var(--main-blue);
}

.formTitle{
    background-color: var(--main-blue);
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.accessForm{
    background-color: var(--main-bg-grey);
    padding: 0px 0px 10% 0px;
    text-align: center;
    position: relative;
    width: 600px;
    max-width: 70%;
}

.accessForm input {
    margin-bottom: 5px;
    border: 0;
}

.submitBtn{
    padding: 5px;
}
.submitBtn:hover {
    border: 1px solid var(--main-blue-hover);
    padding: 4px;
}

.altLog {
    font-size: 0.667em;
}
